body {
  width: 700px;
  font-family: 'Open Sans', 'Noto Sans','Segoe UI','Lucida Grande',arial,sans-serif;
}

body input {
  width: 3em;
}

body input#po {
  width: 5em;
}

.insertBtn {
  float: right;
}
